node_modules/
.env
.DS_Store
**/.DS_Store
dist/
!extension/dist/
build/
*.log
.vite/
.env
backend/.env
frontend/.env
node_modules/
backend/node_modules/
frontend/node_modules/
frontend/src/assets/*.mov
extension/vendor/mediapipe/
.archive/
.env
node_modules/
.archive/
extension/vendor/mediapipe/
*.mov
